<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>this is always here</p>
    <% if (role == "parent" ) { %> 
        <p>this is testing parent rendering</p>
    <%- } %>
    <% if (role == "kid" ) { %>
        <p>this is testing child rendering</p>
    <%- } %>
</body>
</html>