<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css?family=Quicksand:700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <main class="pt-24">
        <div class="about-content">
            <h1 class="nav-paragraphs pb-2">FAQ: Who are we?</h1>
            <p>We are a group of BCIT students working to create a webapp for one of our courses!</p>
        </div>
        <div class="about-content">
            <h1 class="nav-paragraphs pb-2">FAQ: What is the purpose of the Gamify Life?</h1>
            <p>The goal is to create a platform for parents to create a fun chore completion manager and reward system
                for kids to do their chores.</p>
        </div>
        <div class="about-content">
            <h1 class="nav-paragraphs pb-2">FAQ: Is the app only designed for parents?</h1>
            <p>Nope! Anyone looking to motivate themselves with rewards are completly able to use the app by creating
                their own rewards and tasks to complete. Teachers looking to get their students to help around the
                classroom or young adults looking to get out of their lazy ways!</p>
        </div>
    </main>
</body>

</html>