<div class="landing-container">
    <main class="landing-content">
        <h1 class="landing-title">Help motivate your kids by Gamifying their life</h1>
        <p class="landing-subtitle">Use out point and reward system to get your kids motivated to do those pesky
            chores around the house</p>
        <div class="landing-cta">
            <button onclick="window.location.href='/login?signup=true'" class="landing-button">Join Today</button>
        </div>
    </main>
</div>