<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br><br><br><br><br>
    </p>
    <% if (role=="parent" ) { %>
    <a href="" class="nav-btn">Add Kid</a>
        <% } %>
            <% if (role=="kid" ) { %>
                <p>this is testing kid rendering</p>
                <% } %>
                    <% if (role==undefined ) { %>
                        <p>roles are undefined</p>
                        <% } %>
                            <script>

                            </script>
</body>

</html>