<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <body>
        <div class="profile-content">
            <% if (role==="parent" ) { %>
                <a href="#" id="openAddRewardModal" class="nav-btn">Add Reward</a> <% } %>
        </div>
    
</body>
</html>