<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br><br><br>

    <!-- Dialog box -->
    <dialog id="dialogBox">
        <div id="dialogResult"></div>
    </dialog>

    <p id="roleType">you are a <%= role %></p>

    <% if (role == "parent" ) { %>
        <p>this is testing parent rendering</p>
        <div id="result"></div>
        <button onclick="dialogMaker(createCategory)" class="bg-red-500">Create Category Button</button>
    <% } %>

    <% if (role == "kid" ) { %>
        <p>this is testing kid rendering</p>
    <% } %>

    <% if (role == undefined ) { %>
        <p>Please log in</p>
    <% } %>

    <template>

    </template>
    <script>
        const dialog = document.querySelector("dialog")
        const dialogResult = document.getElementById("dialogResult")

        function dialogMaker(makes) {
            dialog.showModal()
            makes()
        }

        function createCategory() {
            dialogResult.innerHTML = ""
            
            const div = document.createElement("div")
            div.innerHTML = "Creating a Category"
            dialogResult.appendChild(div)
            
            const categoryName = document.createElement("div")
            categoryName.innerHTML = "Name:"
            dialogResult.appendChild(categoryName)
            
            const nameInput = document.createElement("input")
            nameInput.type = "text"
            nameInput.setAttribute("id", "categoryName") 
            nameInput.setAttribute("class", "border-2") 
            dialogResult.appendChild(nameInput)
            
            const categoryColor = document.createElement("div")
            categoryColor.innerHTML = "Color:"
            dialogResult.appendChild(categoryColor)

            const colorInput = document.createElement("input")
            colorInput.type = "color"
            colorInput.setAttribute("id", "categoryColor")
            colorInput.setAttribute("class", "border-2")
            dialogResult.appendChild(colorInput)

            br = document.createElement("br")
            dialogResult.appendChild(br)

            const cancelButton = document.createElement("button")
            cancelButton.innerHTML = "Cancel"
            cancelButton.setAttribute("id", "cancelButton")
            cancelButton.setAttribute("onclick", "closeDialog()")
            cancelButton.setAttribute("class", "bg-red-500")
            dialogResult.appendChild(cancelButton)
        
            const submitButton = document.createElement("button")
            submitButton.innerHTML = "Submit"
            submitButton.setAttribute("id", "submitButton")
            submitButton.setAttribute("onclick", "closeDialog()")
            submitButton.setAttribute("class", "bg-red-500")
            dialogResult.appendChild(submitButton)
        }

        function closeDialog() {
            dialog.close();
        }
    </script>
</body>

</html>